<p>category-size works!</p>
<div class="all-page-title page-breadcrumb">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <h1>Category Size</h1>
      </div>
    </div>
  </div>
</div>

<div class="reservation-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading-title text-center">
          <h2>Reservation</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>
      </div>
    </div>
    <ul class="nav  custom-nav">
      <li class="nav-item">
        <a class="nav-link custom-nav-link" routerLink="get">Get Category Size</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" routerLink="add">Add Category Size</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" routerLink="update">Update Category Size</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" routerLink="delete">Delete Category Size</a>
      </li>

    </ul>

    <router-outlet></router-outlet>
    </div>
  </div>
