<div id="slides" class="cover-slides">
  <ul class="slides-container">
    <li class="text-left">
      <img src="assets/images/slider-01.jpg" alt="Slider 1" />
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20"><strong>Welcome To <br />Live Dinner Restaurant</strong></h1>
            <p class="m-b-40">
              See how your users experience your website in realtime or view
              trends to see any changes in performance over time.
            </p>
            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>
          </div>
        </div>
      </div>
    </li>
    <li class="text-left">
      <img src="assets/images/slider-02.jpg" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20"><strong>Welcome To <br> Live Dinner Restaurant</strong></h1>
            <p class="m-b-40">See how your users experience your website in realtime or view  <br>
            trends to see any changes in performance over time.</p>
            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>
          </div>
        </div>
      </div>
    </li>
    <li class="text-left">
      <img src="assets/images/slider-03.jpg" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="m-b-20"><strong>Welcome To <br> Yamifood Restaurant</strong></h1>
            <p class="m-b-40">See how your users experience your website in realtime or view  <br>
            trends to see any changes in performance over time.</p>
            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="slides-navigation">
    <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
  </div>
</div>
<div class="about-section-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <div class="inner-column">
          <h1>Welcome To <span>Live Dinner Restaurant</span></h1>
          <h4>Little Story</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
          <a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="assets/images/about-img.jpg" alt="" class="img-fluid" />
      </div>
    </div>
  </div>

</div>


