
<div class="all-page-title page-breadcrumb">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <h1>Ingredients</h1>
      </div>
    </div>
  </div>
</div>
<!-- End All Pages -->

<!-- Start Reservation -->
<div class="reservation-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading-title text-center">
          <h2>Add New Ingredients</h2>
          <p>Let your ingredients create your meals</p>
        </div>
      </div>
    </div>
    <ul class="nav  custom-nav">
      <li class="nav-item">
        <a class="nav-link custom-nav-link" routerLink="get">Get  Ingredients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" routerLink="add">Add  Ingredient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" routerLink="update">Update Ingredient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" routerLink="delete">Delete Ingredient</a>
      </li>

    </ul>

    <router-outlet></router-outlet>

  </div>
</div>
